<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus laborum fugit expedita ipsum? Officiis optio quos, ex, doloremque quidem accusamus sapiente architecto ipsam maiores rerum atque eum obcaecati dolor dignissimos!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum mollitia quasi similique laboriosam, illum ut suscipit a! Quia dicta consequatur aut repudiandae aliquam, ratione placeat incidunt commodi, facilis, voluptatem consectetur!

</p>
